<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>DSCI 551-Project</title>
<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename = 'css/styles.css') }}">
</head>

<body class="container">
<header>
<h1 align="center">Welcome to TEAM ONE Webpage!</h1>
<h2>Evaluation and Managing ML data and models for TikTok Trending Videos Recommendation</h2>
</header>

	<nav>
 <ul>
<li><a href="/">Home</a></li>
<li><a href="/description">Description</a></li>
<li><a href="/explore">Exploration</a></li>
<li><a href="/visual">Visualization</a></li>
<li><a href="/extract">Features</a></li>
<li><a href="/pred">Prediction</a></li>
  <br />
 </ul>
</nav>
<p class="all">
We are probably all familiar with TikTok. People tend to spend hours each day scrolling through the millions of videos that are uploaded every single day. Not to mention the uploaders who are giving anything to get as many likes and followers as possible.
But what makes one TikTok video become trending or dismissed from the recommendation pool? Is it generated when a Tiktok video is uploaded, or the number of followers, thumbs up, and hashtags may cause a huge impact? So we are trying to anlysis the relationship between thumbs up and other actions of users, and inferring the relationship between thumbs up rate and all of other the attributes.
<br />
<br />
Our project is to discover the characteristics of the first 1000 trending videos scraped from Tiktok and random 8000 videos from Tiktok that aren't in trending videos, clustering the similarities of them and analyzing which attributes of the videos may upgrade the video to be popular. After that, we try to analyze the algorithm and set up rules to distinguish whether a video can be on the trending board(with the percentage of probability and time) and predict the thumb up rates by all other attributes. Besides, users may use this application to analyze the e-commerce advertising spreading rate based on the figures of short videos, users would just need to offer their video url with necessary attributes. In addition, the media and KOL companies can use this tool to track their accounts on Tiktok, understanding how to produce trending videos.


</p>

</body>
</html>

