<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>DSCI 551-Project</title>
<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename = 'css/styles.css') }}">
</head>

<body class="container">
<header>
<h1 align="center">Welcome to TEAM ONE Webpage!</h1>
<h2>Evaluation and Managing ML data and models for TikTok Trending Videos Recommendation</h2>
</header>

	<nav>
 <ul>
<li><a href="/">Home</a></li>
<li><a href="/description">Description</a></li>
<li><a href="/explore">Exploration</a></li>
<li><a href="/visual">Visualization</a></li>
<li><a href="/extract">Features</a></li>
<li><a href="/pred">Prediction</a></li>
  <br />
 </ul>
</nav>


<div id="mySidenav" class="sidenav">
  <a href="/extract/load"><nobr>Features Loading</nobr></a>
</div>

<p class="all">

<p/>


    <br>

<footer>DSCI 551: Database Systems(Fall 2021) <br>Haomin Hu | Zhenmin Hua </br></footer>
</body>
</html>

